*{
   margin: 5px;
   padding: -2px;
   box-sizing: border-box;
}
html {
    margin: 0;
    background-image:
        linear-gradient(to bottom, rgba(0, 0, 0, 1.5), rgba(0, 0, 0, -9.9)),
        url("background-old.jpg");
    background-size: cover;
}
.profile-picture {
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}
.container{
    display: grid;
    grid-template-rows: 150px auto;
    margin: 0px auto;
    max-width: 2000px;
    width: 90%;
}
.nav-list{
    display: flex;
    justify-content: space-around;
    align-items: span;
    padding-top: 25px;
    font-size: 32px;

}
.main-title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: bottom 25px;
    font-size: 42px;
}
.job-title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    padding-top: 5px;
}
.about-title{
    display: flex;
    flex-direction: column-reverse;
    justify-content:flex-end;
    flex-wrap: wrap;
    padding-top: 100px;
    padding-bottom: 13px;
    font-size: 28px;
}
.bio-title{
    font-size: 18px;
}

.skills-title{
    padding-top: 200px;
    padding-bottom: 13px;
    font-size: 28px;
}
.skills-list{
    font-size: 50px;
}
.resume-title{
    padding-top: 180px;
}
.projects-image{
    width: 250px;
}
.email-image{
    width: 116px;
}
.github-image{
    width: 116px;
}
    
.footer-title{
    display: flex;
    justify-content: center;
    align-items: center;
  
}