*{
   margin: 5px;
   padding: 0px;
   box-sizing: border-box;
}
.container{
    background-color:;
    display: grid;
    grid-template-rows: 150px auto;
    margin: 0px auto;
    max-width: 2000px;
    width: 90%;
}
.nav-list{
    display: flex;
    justify-content: space-around;
    align-items: span;
    padding-top: 25px;
}
.main-title{
    display: flex;
    justify-content: center;
    align-items: center;
}
.job-title{
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-title{
    display: flex;
    flex-direction: column-reverse;
    justify-content:flex-end;
    flex-wrap: wrap;
}
.bio{
    display: flex;
    flex-wrap: wrap;
}
.skills-title{

}
.resume-title{

}
.project-title{
    
    }
.contact-title{
    
}
.footer-title{
    display: flex;
    justify-content: center;
    align-items: center;
}